@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

<h3>Login User Information:</h3>
<div>
    <p><strong>Email:</strong> @Model.Email</p>
</div>