@{
    ViewData["Title"] = "About Us";
}

<div class="headerContainer">
    <h2 id="indexTitle">About</h2>
</div>

<div class="aboutContainer">
    <h2 id="inboxHead">Meet The Team!</h2>

    <div class="teamContainer">
        <div class="imageContainer">
            <img src="~/img/blake.jpg" id="teamMemberPicture" />
            <h1 class="teamNames">Blake</h1>
            <h1 class="teamRoles">Project Lead</h1>
            <p class="memberText">
                Blake here. Final leg of my 3 year BIT who has developed a strong fondness for security,
                as well as Software Development. 
                <br />
                <br />
                Outside of WelTec I have gained a job at BNZ working in their IAM
                team and focusing on Secrets Managements. Gaining me experience all over the cloud, devsecops,
                IoC platforms. 
            </p>
        </div>
        <div class="imageContainer">
            <img src="~/img/isaac.jpg" id="teamMemberPicture" />
            <h1 class="teamNames">Isaac</h1>
            <h1 class="teamRoles">Developer, Tester</h1>
            <p class="memberText">
                Hello, My Name is Isaac. I am a third year BIT student pursuing my major in Software Development. 
                I have very much enjoyed my time while working on our EOS project, and strongly believe it has added to my skills
                and knowledge in a variety of aspects. I will always remember this project as the beginning of an exciting journey yet to come!
            </p>
        </div>
        <div class="imageContainer">
            <img src="~/img/garrett.jpg" id="teamMemberPicture" />
            <h1 class="teamNames">Garrett</h1>
            <h1 class="teamRoles">Developer, Tester</h1>
            <p class="memberText">
                Hi, Garrett here. I am in my third year of BIT at Weltec based at the Petone campus majoring in Software Development.
                On EoS and have done some development but primarily my focus has been on testing and breaking my teams hard work.
                <br />
                <br />
                EoS has been a great project to work on and it was satisfying to work on an original concept that may not have been seen before through the Capstone systems.
            </p>
        </div>
        <div class="imageContainer">
            <img src="~/img/matthew.jpg" id="teamMemberPicture" />
            <h1 class="teamNames">Matthew</h1>
            <h1 class="teamRoles">Designer, Tester, Security</h1>
            <p class="memberText">
                Hey, My name is Matthew. I'm a year 3 BIT student with a strong interest in security and web development. 
                I thoroughly enjoyed my time on this project and could not be more pleased with the outcome. 
                I definitely got to utilize my strengths when it came to producing EOS. From testing, to secruity and design, 
                EOS was a major success from my perspective. 
            </p>
        </div>
    </div>
</div>